categorized_samples
chosen_samples
combined_read_counts
GTEx_Data_V4_Annotations_SampleAttributesDS.txt
tissue_specific_markers
interesting_gene_reads
interesting_isoform_reads
brain_specific_markers
brain_specific_markers.txt
knn_classification
lds_classification
svm_classification
interesting_gene_reads_wide
interesting_isoform_reads_wide
combined_isoform_reads
combined_read_counts
combined_star_logs
EG.name.txt
svm_test_results
tissue_specific_markers.txt
all_interesting_gene_reads
all_interesting_isoform_reads
