auto
figure
slides.aux
slides.bbl
slides.bcf
slides.blg
slides.fdb_latexmk
slides.fls
slides.log
slides.out
slides.pdf
slides.run.xml
slides.tex
cache
slides.lof
slides.lot
slides.toc
slides.nav
slides.snm
references.bib
