roadmap_epigenomics.tsv
srx.mk
chosen_samples
human_sequencing_studies.yaml
human_sequencing_studies.txt
SRX*
ref_seqs
cluster_host.mk
combined_read_counts
GTEx_Analysis_V4_RNA-seq_Flux1.6_transcript_rpkm.txt.gz
GTEx_Analysis_V4_RNA-seq_RNA-SeQCv1.1.8_gene_rpkm.gct.gz
GTEx_Data_V4_Annotations_SampleAttributesDS.txt
57epigenomes.RPKM.intronic.pc.gz 57epigenomes.RPKM.nc.gz 57epigenomes.RPKM.pc.gz 57epigenomes.RPKM.rb.gz
EG.name.txt
